@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Başlık Ekleme Sayfası</h2>

@using (Html.BeginForm("AddHeading", "AdminHeading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık Adı:")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName, "", new { @class = "text-danger" })
        <br />
        @Html.Label("Kategori :")
        @Html.DropDownListFor(x => x.CategoryId,(List<SelectListItem>)ViewBag.vlc, new {@class="form-control"})
        <br />
        @Html.Label("Yazar Adı:")
        @Html.DropDownListFor(x=> x.WriterId,(List<SelectListItem>)ViewBag.vlw, new {@class="form-control"})
        <br />
       
        <button class="btn btn-info">Başlık Oluştur</button>
    </div>
}